<h4><div><%= user.name %> joined Bucketry <%= display_relevant_date user %> <%= display_relevant_time user %>.</div>
<div><%= link_to "Check out #{user.possessive_pronoun} profile", user_path(user) %></div></h4>