<h1>The Bucketry Community</h1>

    <table>
        <tbody>
        <% @users.each do |user| %>
            <tr>        
                <td><%= link_to user.name, user_path(user) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    