<h1>About Bucketry <%= image_tag 'red_bucket.png', {alt: 'A red bucket', size: "50"} %></h1>

<p>This is Bucketry. It is the best app. It stores water and dreams! Watch out for the yodelers!</p>
    <div>
        <p>Bucketry was developed to serve both as a repository/tracker for the life goals you'd like achieve before kicking the bucket and as a place to share ideas as to what those goals should be. The application is inspired by a few simple Google searches and the need for a platform in which to foster budding software development skills. Bucketry was conceptualized and created by Matthew Bechtel and Matthew Heavner, and as of late 2019, the program is yet to enter its alpha phase of the release cycle. The resources for this program will be available on Github and available for viewing under the username 'mrh9ud'. If you have any concerns or questions regarding the project, be sure to send them via Github.</p>
        <p>Enjoy planning your important goals before death!
    </div>
