    <h1>Welcome to Bucketry</h1>

<% if flash["error"] %>
    <div class="error"><%= flash["error"] %></div>
<% end %>

<h3>Share Your Bucketry list with Friends and Family</h3>

<h3>Recent Activity</h3>

<%= render partial: 'newsfeed', locals: {feed_elements: @recent_activities} %>