 nav span {
    display: inline-block;
    clear: both;
 }

 form {
    text-align: center; 
}

.profile {
    justify-content: flex-end;
    padding-right: 25px;
 }

h1 {
     text-align: center;
 }

 .simple-form {
     padding: 10px;
 }

 .button {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
 }

 .button:hover {
     background-color: darkgoldenrod;
     padding: 8px;
 }

 .home-bar .button {
    color: #212529;
    background-color: red;
    border-color: red;
    cursor: pointer;
    text-align: center;
    padding: 5px; 
 }

.home-bar .button:hover {
    background-color: darkred;
    padding: 8px;
}

.newsfeed {
    list-style-type: none;
}