<h1>Categories</h1>

<table>
    <tbody>
    <% @categories.each do |tag| %>
        <tr>
            <td><%= link_to tag.name, category_path(tag) %></td>
        </tr>
    <% end %>
    </tbody>
</table>

Not seeing a category of interest? 
<%= button_to "Add your own", new_category_path, {method: :get, class: 'button'} %>