<h1>Popular Bucketry List Items</h1>

    <table>
        <thead>
            <tr>
                <td>Activity</td>
                <td>Number of Interested Users</td>
                <td></td>
            <tr>
        </thead>
        <tbody>
            
            <% @activities.each do |activity| %>
                <tr>
                    <td><%= link_to activity[0].name, activity_path(activity[0]) %></td>
                    <td><%= activity[0].popularity %></td>
                    <td>
                    <% if logged_in? && !UserExperience.find_by_joined(activity[0], current_user) %>
                        <%= button_to 'Add to your bucket list', {controller: :user_experiences, user_experience: {user_id: current_user.id, activity_id: activity[0].id, completed: false, activity_attributes: {name: nil, description: nil}}, action: :create}, {method: :post, class: 'button'} %>
                    <% end %>                    
                     </td>
                </tr>
            <% end %>
            </tbody>
    </table>

    <div>Can't find what you're looking for?</div>
    <div><%= button_to "Add Your Own Activity", new_activity_path, {method: :get, class: 'button'}%></div>